$teal: #009999;
$teal-dark: #008080;
$teal-light: hsla(180, 100%, 30%, 0.6);
$teal-grey: hsla(180, 100%, 30%, 0.3);

$charcoal: #333333;
$charcoal-light: hsla(0, 0%, 20%, 0.1);

$white-off: #f2f2f2;

.bgcolor-4 { background: #2f3238; color: #fff; }

body {
	padding: 0;
	background: $charcoal-light;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
	h3 {
		color: $white-off;
	}
}

.game {
	margin-top: 75px;
}

.card {
	margin: 5px;
	background: $teal;
	width: 100px;
	height: 100px;
	padding: 0px;

	img {
		width: 100px;
		height: 100px;
	}
}